<div class="nested-fields">
<table>
<tbody>
<tr>
	<td>
	<%= link_to_remove_association "remove image_room", f, class: 'btn btn-primary btn-xs' %>
	</td>
	<td>
		<%= f.label :name %>
		 <%= f.text_field :name, lebel: false %>	
   </td>

 
</tr>
	</tbody>
	</table>
</div>